<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837225967709-5okh9p7l7dopm5vjcg8qbodqor12212q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837225967709-5okh9p7l7dopm5vjcg8qbodqor12212q</string>
	<key>API_KEY</key>
	<string>AIzaSyArZMKyOYVEICZDlXQdWM7C5fRzlFtBx64</string>
	<key>GCM_SENDER_ID</key>
	<string>837225967709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rrtech.rooted.Rooted.MessagesExtension</string>
	<key>PROJECT_ID</key>
	<string>rooted-f677e</string>
	<key>STORAGE_BUCKET</key>
	<string>rooted-f677e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837225967709:ios:d8cb19934542ef44e1ddb4</string>
	<key>DATABASE_URL</key>
	<string>https://rooted-f677e.firebaseio.com</string>
</dict>
</plist>