<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Rooted</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.rrtech.rooted.Rooted.MessagesExtension</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rootedext</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>NSCalendarsUsageDescription</key>
	<string>Rooted needs access to your calendar to add created invites to it.</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.message-payload-provider</string>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Rooted needs access to your location to search for and add locations to invites.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Rooted needs access to your location to search for and add locations to invites.</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>branch_app_domain</key>
	<string>rooted.app.link</string>
	<key>branch_key</key>
	<string>key_live_npNUJjsLcUnbq6xSqRwS9mmjvsbMMu0R</string>
</dict>
</plist>
